body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background : url("images/0.png") no-repeat;
}
#test-img {
	width : 100px;
	height : 100px;
	background : url("https://ss0.bdstatic.com/5aV1bjqh_Q23odCf/static/superman/img/logo_top_ca79a146.png") no-repeat;
}